.container {
  display: flex;
  width: 100vw;
  background: #f0f0f0;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-size: px;
  font-weight: 500;
  margin: 10px 0 10px;
  color: #020a0f;
}

input {
  border: 1px solid #f0f0f0;
  padding: 10px;
  margin: 10px 0 10px;
  width: 400px;
}

.wrapper-input {
  display: flex;
  flex-direction: column;
}

button {
  color: #fff;
  background-color: #575a5c !important;
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  padding: 8px 20px;
  align-items: center;
  margin: 10px;
}

div {
  color: #0d4a70;
  background-color: #b3b3b3 !important;
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  padding: 10px 16px;
  align-items: center;
  margin: 10px;
}

h1 {
  font-size: 25px;
}