body {
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
  max-height: 100vh;
}

.container {
  display: flex;
  max-width: 100vw;
  justify-content: center;
  height: 60vh
}

.center {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

header,
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid #000;
}

label {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0 10px;
  color: #2196F3;
}

input,
select {
  border: 1px solid #6e6e6e;
  padding: 10px;
  margin: 0 10px;
}

input {
  width: 400px;
}

select {
  width: 422px;
}

.error {
  text-align: center;
  color: #ff0000;
}

.success {
  text-align: center;
  color: #008000;
}

.wrapper-input {
  display: flex;
  flex-direction: column;
}

.wrapper-input h1 {
  text-align: center;
}

button {
  color: #fff;
  background-color: #5c7c95 !important;
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  padding: 8px 16px;
  align-items: center;
  margin: 10px;
}

body {
  background-color: #f0f0f0;
  min-height: 10vh;
}

table {
  background-color: #f0f0f0;
}

link {
  font: optional;
  color: black;
  text-decoration: none
}

p {
  font-size: 15px;
  color: black
}

td {
  height: 3rem;
  padding: 0 30px;
  border: 1px solid black;
}